@model QuanLyCongTrinh.Models.CongTrinh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CongTrinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.TenTaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.TenTaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuThau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuThau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoChinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoChinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoPhu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoPhu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
